
<h2 class="login-signup-title">Log in to your account</h2>

<form action="/login" method="POST" class="form">

    <div>
        <label for="email">Email: </label>
        <input type="email" name="email">
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" autocomplete="on">
    </div>

        <button type="submit" class="smbutton">Log in</button>

</form>

{{#if errMsg}}
<p>{{this.errMsg}}</p> 
{{/if}}
