
<h1>Log in to your account</h1>

<form action="/login" method="POST">

    <div>
        <label for="email">Email: </label>
        <input type="email" name="email">
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password">
    </div>

        <button type="submit">Log in</button>

</form>

{{#if errMsg}}
<p>{{this.errMsg}}</p> 
{{/if}}
