<h2 class="login-signup-title">Create an account</h2>

<form action="/signup" method="POST" class="form">

        <label for="username">Username: </label>
        <input type="text" name="username">

        <label for="email">Email: </label>
        <input type="email" name="email">

        <label for="age">Age: </label>
        <input type="number" name="age">

        <label for="password">Password: </label>
        <input type="password" name="password">

        <label for="passwordConfirm">Confirm password: </label>
        <input type="password" name="passwordConfirm">


        <button type="submit" class="smbutton">Create</button>

</form>


{{#if errMsg}}
<p>{{this.errMsg}}</p> 
{{/if}}