<h2 class="login-signup-title">Create an account</h2>

<form action="/signup" method="POST" class="form">

        <label for="username">Username: </label>
        <input type="text" name="username" autocomplete="off">

        <label for="email">Email: </label>
        <input type="email" name="email" autocomplete="off">

        <label for="age">Age: </label>
        <input type="number" name="age" autocomplete="off">

        <label for="password">Password: </label>
        <input type="password" name="password" autocomplete="off">

        <label for="passwordConfirm">Confirm password: </label>
        <input type="password" name="passwordConfirm" autocomplete="off">


        <button type="submit" class="smbutton">Create</button>

</form>


{{#if errMsg}}
<p class="errMsg">{{this.errMsg}}</p> 
{{/if}}