<h2>Edit profile</h2>
<form action="/profile" method="GET">
    <button class="smbutton">Go back</button>
</form>

<form action="/edit-user" method="POST">

    <label for="username">Username/New username: </label>
    <input type="text" name="username" value={{user.username}}>

    <label for="age">Age/New age: </label>
    <input type="number" name="age" value={{user.age}}>

    <label for="profilePic">Profile picture URL: </label>
    <input type="text" name="ProfilePic">


    <button type="submit" class="smbutton">Update changes</button>

</form> 