<h2 class="login-signup-title">Edit profile</h2>

<form action="/edit-user" method="POST" class="form">
    <p>Please fill all the fields.</p>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" value={{user.username}}>        
    </div>

    <div>
        <label for="age">Age: </label>
        <input type="number" name="age" value={{user.age}}>    
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password">    
    </div>
    {{!-- <div>
        <label for="profilePic">Profile picture URL: </label>
        <input type="text" name="ProfilePic">    
    </div> --}}

    <button type="submit" class="smbutton">Update changes</button>

<form action="/profile" method="GET">
    <button class="smbutton">Go back</button>
</form>
</form> 
