<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

    <title>GIFAPP</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" media="(min-width: 600px)" href="/stylesheets/stylesTablet.css" />
    <link rel="stylesheet" media="(min-width: 1000px)" href="/stylesheets/stylesPC.css" />

    <link rel="icon" href="/images/gif.png">

</head>
<body>

    <div class="navbar">
        <a href="/profile">My gifs</a>
        <a href="/"><b>GIFAPP</b></a>
        <a href="/logout">Logout</a>
    </div>

    <div class="turn-device displaynone">
        <p>Please turn your devide.</p>
        <img src="/images/turn-device.black.png" alt="Turn device">
    </div>

    <div class="body">
        {{{body}}} 
    </div>
    
    <script src="/javascript/orientation.js"></script>
</body>
</html>