<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIFAV.APP</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" href="/images/gif.png">
</head>
<body>
    <div class="navbar">
        <a href="/signup">Sign up</a>
        <a href="/"><b>GIFAV.APP</b></a>
        <a href="/login">Log in</a>
    </div>
    <div class="body">
        {{{body}}}           
    </div>
     

</body>
</html>