
<form action="/results/{{page}}" method="POST" id="searchbar">
    <div class="searchform">
        <input type="text" name="search" placeholder="Write your search here..." id="searchbar-input">

        <button type="submit" id="searchbar-button">Search</button>
        {{!-- <img src="/images/mag-glass.png" alt="magnifying glass"/> --}}
    </div>
</form>    


