<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiFav-App</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/" style="display: none;">My profile</a>
        <a href="/">Sign up</a>
        <a href="/"><b>GIFAV</b></a>
        <a href="/">Log in</a>
        <a href="/" style="display: none;">Logout</a>
    </div>

    {{{body}}}        


    <script src="/javascript/script.js"></script>
</body>
</html>