
html {
    margin: 0;
    color: white;
    background-color: black;
    font-family: 'Permanent Marker', cursive;
}

.body {
    height: 90vh;
    margin-top: 8vh;
    
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    margin: 0;
    font-size: 1.3rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: white;
    border: 2px solid grey;
    padding: 8px;
}

.searchform {
    height: 90vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-bar {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchbar-input {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Permanent Marker', cursive;
    height: 50px;
    width: 80vw;
    border-radius: 20px;
    border: 3px solid gray;
    font-size: 1.4rem;
    text-align: center;
}

#searchbar-button {
    background-color: rgb(138, 138, 138);
    margin-top: 20px;
    border: none;
    border: 2px dotted black;
    border-radius: 15px;
    font-size: 1.85rem;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    padding: 8px 30px;
}

#searchbar-button:hover {
    background: rgb(90, 90, 90);
}

.gifs-div {
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.center {
    text-align: center;
    margin: 10px 0px;
}

.spacing {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.errorMsg{
    margin-top: 3rem;
    border: solid grey 0.2rem;
    color: white;
    background-color: black;
    padding: 0.5rem;
    width: 15rem;
    text-align: center;
    align-self: center
}

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 95vw;
}

.panel {
    display: none;
    overflow: hidden;
    text-align: center;
    background-color: black;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    height: 50px;
}

.displaynone {
    display: none;
}

.smbutton {
    font-family: 'Permanent Marker', cursive;
    color: white;
    background-color: rgb(54, 54, 54);
    margin-top: 10px;
    border: none;
    border: 2px dotted white;
    border-radius: 5px;
    font-size: 1.2rem;
}


.black {
    background-color: black;
    border: none;
    border-radius: 100%;
}

.black:hover{
    background-color: rgb(80, 80, 80);
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.favorites {
    margin-top: 40px;
    text-align: center;
}

.login-signup-title {
    text-align: center;
    margin-top: 100px;
    font-size: 1.8em;
}

.form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form input {
    font-family: 'Permanent Marker', cursive;
     height: 40px;
     width: 55vw;
}   
    
.form label {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.35em;
}

.centered {
    text-align: center;
}