.body {
    height: 80vh;
    margin-top: 10vh;
}

.navbar {
    height: 15vh;
}

.navbar a {
    font-size: 1.5em;
    width: 20vw;
    height: 6vh;
}

#searchbar-input {
    height: 60px;
}

.spacing {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.errMsg {
    margin-top: 2.5rem;
}

.gifs-div {
    margin-top: 15vh;
    flex-direction: row;
}

.accordion {
    width: 20vw;
}

.logo {
    width: 25px;
}

.arrows {
    width: 20vw;
    position: fixed;
    left: 40vw;
    top: 90vh;
}



footer a {
    width: 40vw;
}