
html {
    margin: 0;
    background: linear-gradient(#df85857a, #adb1e481);
}


.navbar {
    height: 8vh;
    margin: 0;
    font-size: 1.4rem;
    background: linear-gradient(#df8585, #adb1e4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: black;
    border: 1px solid lightblue;
    padding: 10px;
}

.searchform {
    height: 92vh;
    background: linear-gradient(#df85857a, #adb1e481);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-bar {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchbar-input {
    background: linear-gradient(#df85857a, #adb1e481);
    height: 50px;
    width: 80vw;
    border-radius: 20px;
    border: 3px solid rgb(32, 58, 29);
    font-size: 1.4rem;
    text-align: center;

}

#searchbar-button {
    background: linear-gradient(#df85857a, #adb1e481);
    margin-top: 20px;
    border: none;
    border: 2px dashed black;
    border-radius: 5px;
    font-size: 1.8rem;
}

#searchbar-button:hover {
    background: linear-gradient(#e078787a, #868cdd81);

}

.gifs-div {
    /* background-color: rgb(102, 187, 94); */
    background: linear-gradient(#df85857a, #adb1e481);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.center {
    text-align: center;
    margin: 10px 0px;
}

.spacing {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.errorMsg{
    margin-top: 3rem;
    border: solid red 0.1rem;
    padding: 0.5rem;
    width: 15rem;
    text-align: center;
    align-self: center
}

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 95vw;
}

.panel {
    display: none;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(#db8a8a7a, #b6b9e281);
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    height: 50px;
}

.displaynone {
    display: none;
}

.favbutton {
    background: linear-gradient(#df85857a, #adb1e481);
    margin-top: 10px;
    border: none;
    border: 2px dashed black;
    border-radius: 5px;
    font-size: 1.2rem;
}