
html {
    margin: 0;
    color: rgb(138, 138, 138);
    background-color: rgb(30, 30, 30);
    font-family: 'Permanent Marker', cursive;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

::-webkit-scrollbar {
    display: none;
}


.body {
    height: 85vh;
    margin-top: 8vh;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    margin: 0;
    font-size: 1.3rem;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar a {
    width: 25vw;
    text-align: center;
    text-decoration: none;
    color: rgb(138, 138, 138);
    border: 2px solid grey;
    padding: 10px;
}

.searchform {
    height: 85vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-bar {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchbar-input {
    background-color: rgb(30, 30, 30);
    color: rgb(138, 138, 138);
    font-family: 'Permanent Marker', cursive;
    height: 50px;
    width: 80vw;
    border-radius: 20px;
    border: 3px solid gray;
    font-size: 1.4rem;
    text-align: center;
}

#searchbar-button {
    background-color: rgb(138, 138, 138);
    margin-top: 20px;
    border: none;
    border: 2px dotted black;
    border-radius: 15px;
    font-size: 1.85rem;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    padding: 8px 30px;
}

#searchbar-button:hover {
    background: rgb(90, 90, 90);
}

.gifs-div {
    margin-top: 50px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.spacing {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.errMsg{
    margin: 0 auto;
    margin-top: 2rem;
    border: solid grey 0.2rem;
    color: rgb(138, 138, 138);
    background-color: rgb(30, 30, 30);
    padding: 0.5rem;
    width: 18rem;
    text-align: center;
    align-self: center
}

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    width: 95vw;
}

.panel {
    display: none;
    overflow: hidden;
    text-align: center;
    background-color: rgb(30, 30, 30);
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo, .arrow {
    width: 50px;
}

.displaynone {
    display: none;
}

.smbutton, .favbutton {
    font-family: 'Permanent Marker', cursive;
    color: rgb(138, 138, 138);
    background-color: rgb(78, 78, 78);
    margin-top: 10px;
    border: 2px dotted white;
    border-radius: 5px;
    font-size: 1.2rem;
}

.black {
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 100%;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.favorites {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-gifs-div {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fav-gifs-div .accordion {
    margin-top: 2vh;
    width: 95vw;
}

.del-account {
    text-align: center;
    margin-top: 5vh;
}

.login-signup-title {
    color: rgb(138, 138, 138);
    text-align: center;
    margin-top: 100px;
    font-size: 1.8em;
}

.form {
    height: 55                                                            vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form input {
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(90, 90, 90);
    color: black;
    border: 2px solid grey;
    height: 40px;
    width: 55vw;
    margin-bottom: 10px;
    text-align: center;
}   

    
.form label {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.35em;
    margin-top: 10px;
}

.centered {
    margin-top: 10vh;
    text-align: center;
}

.centered input {
    width: 60vw;
    height: 6vh;
    margin: 2vh 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a {
    width: 70vw;
    text-decoration: none;
    color: rgb(138,138, 138);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-logo{
    width: 30px;
}