.body {
    height: 80vh;
    margin-top: 10vh;
}

.navbar {
    height: 12vh;
    width: 100vw;
}

.navbar a {
    font-size: 1.4em;
    height: 5vh;
}

.spacing {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
}

.accordion {
    width: 14vw;
}

.gifs-div {
    margin-top: 15vh;
}

.fav-gifs-div .accordion {
    width: 22vw;
    margin: 2vh 2vw;
}

.fav-gifs-div {
    width: 95vw;
}

.smbutton {
    font-size: 1.8rem;
    width: 18vw;
}

.logo {
    width: 30px;
}

.noDisplay-Pc {
    display: none;
}

.marginTop {
    margin-top: 1vh;
}

.marginTop input {
    font-size: 1.5em;
}

footer a {
    width: 20vw;
}