.body {
    height: 80vh;
    margin-top: 10vh;
}

.navbar {
    height: 12vh;
}

.navbar a {
    font-size: 1.4em;
    height: 5vh;
}

.spacing {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.accordion {
    width: 8vw;
}

.gifs-div {
    margin-top: 26vh;
}

.smbutton {
    font-size: 1.8rem;
    width: 18vw;
}

.logo {
    width: 30px;
}











footer a {
    width: 20vw;

}